<div class="container-fluid header-section">
    <div class="row bg">
        <img src="assets/musicicone.jpg" height="100" width="100" style="cursor: pointer" title="search Music ">
        <div class="col-md-4">
            <form class="example-form" style="margin: 41px 0px 0px 179%;">
                <!--  <mat-form-field class="example-full-width">
            <input matInput placeholder="search Your Favorite Music Here... " #myinput (keyup)="searchMusic(myinput.value)">
          </mat-form-field> -->
                <button type="button" class="btn btn-primary" routerLink="name/1" title="add new video">ADD</button>

            </form>
        </div>
    </div>
    <img src="assets/trnding.png" *ngIf="image == true" title="Search Your Favorite Music in search Area"
        style="margin-top: 9%;">
</div>

<div class="container" *ngIf="adapiData">
    <div class="row">
        <div class="col-md-12">
            <div class="col-4" style="display: inline-block" *ngFor="let data of adapiData">
                <div class="card"
                    style="width: 18rem;background-color: antiquewhite;margin-bottom: 15px; border-color: black;">
                    <img *ngIf="data.thumbnailData!=null" class="card-img-top" src={{data.thumbnailData}} alt="image is loading....">
                    <div class="card-body">
                        <h5 class="card-title">Author name:</h5> <b>{{data.discriptiom}}</b>
                        <h5 class="card-title">Description:</h5><b>{{data.name}}</b>
                        <br />

                        <div class="action">
                            <i class="fa fa-low-vision fa-2x" style="cursor: pointer;" title="view album"
                                routerLink="name/{{data._id}}"></i>


                            <i class="fa fa-trash fa-2x" title="delete album" style="cursor: pointer;    margin: -14px 10px 9px 42px;
                            "  (click)="gotoDelete(data._id)"></i>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>